.stats-container {
  height: 100%;
  background: linear-gradient(145deg, #1a1d20, #1d2027);
}

@media (max-width: 767.98px) {
  .kibo {
    height: 60%;
    margin-top: 10px;
  }
  .kaeneko {
    height: 400px !important;
    margin-top: 10px;
  }
}
