.member-layout {
  margin-top: 100px !important;
  height: 85vh;
}

.member-container {
  background: repeating-linear-gradient(
    -55deg,
    rgba(13, 13, 13, 1),
    rgba(13, 13, 13, 1) 2px,
    rgba(7, 7, 7, 1) 2px,
    rgba(7, 7, 7, 1) 5px
  );
}

.member-header {
  height: 230px !important;
}

.member-header {
  height: 230px !important;
}

@media (max-width: 768px) {
  .member-header {
    height: 100% !important;
    padding-bottom: 20px;
  }
  .member-layout {
    margin-top: 15px !important;
  }
  .available-accounts {
    width: 110px !important;
  }
  .hexagon {
    width: 170px !important;
    height: 170px !important;
    background: linear-gradient(to top, rgb(150, 6, 6), black);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    padding: 4px;
    box-sizing: border-box;
  }

  .hexagon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: inherit;
    display: block;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 600px;
  background-color: #1b1b1b;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.hexagon {
  width: 190px;
  height: 200px;
  background: linear-gradient(to top, rgb(150, 6, 6), black);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  padding: 4px;
  box-sizing: border-box;
}

.hexagon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inherit;
  display: block;
}

.available-accounts {
  background: linear-gradient(145deg, #1a1d20, #292e38);
  width: 140px;
  /* border: 1px solid gray; */
}

.add-btn {
  background-color: black;
  border: 1px solid gray;
}

.add-accounts,
.linked-accounts {
  font-size: 0.8rem;
}

.linked-icon {
  font-size: 0.75rem;
}

.linked-back {
  background: linear-gradient(145deg, #1a1d20, #292e38);
}

.bi-discord {
  color: #5865f2;
}

.shop-popular img {
  height: 80px;
}

.zlg-coin2 {
  width: 20px;
  height: 20px !important;
}

.points-container {
  background-color: #1c1f24;
}

.zlg-coin {
  position: absolute;
  top: -5px;
  left: -10px;
  width: 40px;
  height: 40px;
}

.zlg-coin3 {
  position: absolute;
  top: -3px;
  left: -10px;
  width: 30px;
  height: 30px;
}

.buy-points3 {
  position: absolute;
  top: -8px;
  right: -10px;
}

.buy-points3 img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.buy-points {
  position: absolute;
  top: -5px;
  right: -10px;
}

.buy-points img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.text-container {
  flex: 1; /* Ensures it takes up the available space */
  text-align: center; /* Centers the text horizontally */
  display: flex;
  align-items: center; /* Centers the text vertically */
  justify-content: center; /* Centers the text horizontally */
}

.shop-popular .card {
  border: 1px solid gray;
  background: linear-gradient(145deg, #1a1d20, #272b2f);
  color: white;
  font-size: 1.2rem;
  width: 200px;
}

.unlink-btn i {
  transition: transform 0.2s ease, color 0.2s ease;
}

.unlink-btn:hover i {
  transform: scale(1.3);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.plus-icon {
  transition: transform 0.2s ease-in-out;
}

.plus-icon:hover {
  transform: scale(1.1);
}
