.zlg-logo {
  height: 45px;
}

.login-btn:hover {
  cursor: pointer;
}

.zlg-nav-bar {
  background: linear-gradient(145deg, #121214, #1a1a1d);
  height: 80px;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.856);
  right: 0;
  left: auto;
  border-bottom: 2px solid #b31818;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" viewBox="0 0 16 16"><path d="M1 2.5h14M1 8h14M1 13.5h14" stroke="%23ffffff" stroke-width="1.5" stroke-linecap="round"/></svg>');
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.mobile-menu {
  z-index: 1050;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.profile-menu {
  margin-top: 170px;
}

.profile-menu .dropdown-item:hover {
  background-color: #dc3545;
}

.profile-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s;
}

/* Small Display */
@media (max-width: 768px) {
  body {
    background-image: none !important;
    background-color: rgb(0, 0, 0);
  }
  .zlg-logo {
    height: 35px;
  }
}

/* 4k Display */
@media (min-width: 2900px) {
  .zlg-nav-bar {
    height: 150px;
  }
  .zlg-logo {
    height: 100px;
  }
  .fa-discord,
  .fa-gamepad {
    font-size: 4rem !important;
    margin: 0 50px;
  }
  .navbar-line {
    height: 70px;
  }
  .login-btn {
    margin-left: 20px;
    font-size: 2.5rem;
  }
  .login-btn i {
    margin-left: 20px;
    font-size: 4rem !important;
  }
  .navbar-first-name {
    font-size: 2.5rem;
  }
  .zlg-coin3 {
    width: 70px !important;
    height: 70px !important;
    top: --2px;
  }
  .points-container p {
    height: 60px !important;
    font-size: 2.5rem;
    padding-bottom: 5px !important;
  }

  .buy-points3 {
    right: -15px;
  }

  .buy-points3 img {
    width: 70px;
    height: 70px;
    cursor: pointer;
  }

  .profile-img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  .profile-menu {
    margin-top: 530px;
    font-size: 3rem;
  }
  .profile-menu p {
    padding: 20px;
    margin-right: 50px !important;
  }

  .profile-menu i {
    padding: 20px;
  }
}
