.server-status-tab {
  background-color: #292e38;
}

.server-status-container {
  padding: 20px;
}

.server-status-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.server-status-tab .nav-link {
  background-color: #292e38;
  transition: background-color 0.3s, color 0.3s;
}

.server-status-tab .nav-link:hover {
  background-color: #292e38;
}

.server-status-tab .nav-link.active {
  background-color: #dc3545;
  color: white;
}

.server-status-table {
  width: 100%;
  border-collapse: collapse;
}

.server-status-table-bg {
  background-color: #181c23;
}

.server-status-table th,
.server-status-table td {
  padding: 10px;
  text-align: center;
}

.server-status-table th {
  font-weight: bold;
}

.vote-connect-button {
  background-color: #292e38;
}

.vote-connect-button:hover {
  background-color: #dc3545;
}
