.extra-life {
  height: 250px;
}

.extra-life-text,
.price-card {
  background: repeating-linear-gradient(
    -55deg,
    rgba(13, 13, 13, 1),
    rgba(13, 13, 13, 1) 2px,
    rgba(7, 7, 7, 1) 2px,
    rgba(7, 7, 7, 1) 5px
  );
}

.price-card {
  height: 431px;
}

.service-tab .nav-link.active {
  background-color: #dc3545 !important;
  color: white;
}
