.ticket {
  min-width: 100% !important;
}

.ticket-id {
  bottom: 5px;
  right: -30px;
  width: 100px;
  font-size: 10px;
  color: #6c757d;
}

.ticket-nav,
.ticket-body,
.ticket-container {
  background-color: #13151a !important;
}

.ticket-container {
  height: 470px;
}

.ticket-body1 {
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(145deg, #1a1d20, #1d2027);
}

.ticket-main {
  background: linear-gradient(145deg, #1a1d20, #1d2027);
}

.description {
  color: white;
  min-height: 105px !important;
  overflow-y: scroll;
  background-color: #13151a;
  border-radius: 5px;
}

.closed-status {
  color: #b31818;
}

hr {
  border-top: 1px solid white;
}

.sub-text {
  color: rgb(150, 150, 150);
}

.gameImg {
  height: 60px;
}

.gameImg2 {
  height: 15px;
}

.gameImg3 {
  height: 100px;
}

.ticket-nav {
  display: block;
  height: auto;
  background-color: #343a40;
  color: white;
}

.bottom-nav {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.bottom-nav .active {
  color: #0d6efd;
}

.bottom-nav .badge {
  font-size: 0.6rem;
  margin-top: 10px;
  margin-left: 10px;
}

.ticket-container .flex-grow-1 {
  margin-bottom: 60px;
}

.active button {
  background-color: #343a40 !important;
  border-left: 5px solid #dc3545;
  color: #ffffff !important;
}

.active i {
  color: #ffffff !important;
}

.ticket-nav button:hover {
  background-color: #495057;
  color: #ffffff;
}

.description {
  min-height: 100px;
}

.single-datetime {
  font-size: 0.8rem;
}

.messages {
  overflow-x: auto;
  height: 400px;
  overflow-y: scroll;
}

.message-container {
  height: 100%;
}

.message-box {
  height: 100%;
  overflow-y: hidden;
  background-color: #13151a !important;
}

.message-input,
.message-button {
  border-radius: 0;
  margin: 0 !important;
}

.message-img {
  height: 40px;
  border-radius: 50%;
}

.discord-image {
  display: block;
  width: 100px;
  border-radius: 50%;
}

@media (max-width: 767.98px) {
  .subject-font {
    font-size: 1.25rem;
  }
  .single-details {
    height: 400px !important;
  }
  .single-row {
    height: 780px !important;
  }
  .message-box {
    margin-top: 30px;
    height: 340px !important;
    padding: 5px !important;
    overflow-y: scroll;
  }
  .messages {
    min-height: 275px !important;
    height: 100% !important;
    overflow-y: hidden;
  }
  .message-container {
    height: 430px !important;
  }
}

@media (min-width: 768px) {
  .subject-font {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .ticket-container {
    height: 65vh;
  }
}
