.ticket {
  min-width: 100% !important;
}

.ticket-id {
  bottom: 5px;
  right: -30px;
  width: 100px;
  font-size: 10px;
  color: #6c757d;
}

.ticket-nav,
.ticket-body,
.ticket-container {
  background-color: #13151a !important;
}

.ticket-container {
  height: 500px;
}

.ticket-body1 {
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(145deg, #1a1d20, #1d2027);
}

.ticket-main {
  background: linear-gradient(145deg, #1a1d20, #1d2027);
}

.description-min-height {
  min-height: 150px !important;
}

.closed-status {
  color: #b31818;
}

hr {
  border-top: 1px solid white;
}

.sub-text {
  color: rgb(150, 150, 150);
}

.gameImg {
  height: 60px;
}

.gameImg2 {
  height: 15px;
}

.ticket-nav {
  display: block;
  height: auto;
  background-color: #343a40;
  color: white;
}

.bottom-nav {
  /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.bottom-nav .active {
  color: #0d6efd;
}

.bottom-nav .badge {
  font-size: 0.6rem;
  margin-top: 10px;
  margin-left: 10px;
}

.ticket-main {
  /* border-left: 1px solid gray; */
}

.ticket-container .flex-grow-1 {
  margin-bottom: 60px;
}

.active button {
  background-color: #343a40 !important;
  border-left: 5px solid #dc3545;
  color: #ffffff !important;
}

.active i {
  color: #ffffff !important;
}

.ticket-nav button:hover {
  background-color: #495057;
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .subject-font {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .subject-font {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .ticket-container {
    height: 90vh;
  }
}
