.zlg-services {
  height: 100vh;
}
.price-card {
  background: linear-gradient(145deg, #121214, #1a1a1d);
  outline: 1px solid #000000;
}
.price-card {
  height: 560px;
}

.subscription-badge {
  position: absolute;
  top: 15px;
  left: 0;
  color: white;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 0 3px 3px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.btn-dark:hover {
  background-color: #dc3545 !important;
}
/* Color for each badge */
.single-badge {
  background-color: #dd163b;
}
.single-border {
  box-shadow: 0px 0px 20px 5px #aa0221e5;
  margin-left: 30px;
}
.golden-badge {
  background-color: #d8ba0e;
  color: rgb(255, 255, 255);
}
.golden-border {
  box-shadow: 0px 0px 20px 5px #d8ba0ea4;
  margin-left: 30px;
}
.diamond-badge {
  background-color: #22a2b1;
}
.diamond-border {
  box-shadow: 0px 0px 20px 5px #22a2b1a4;
  margin-left: 30px;
}
.vibranium-badge {
  background-color: #882adf;
}
.vibranium-border {
  box-shadow: 0px 0px 20px 7px #882adfa4;
  margin-left: 30px;
}
@media (max-width: 768px) {
  .zlg-services {
    height: 100%;
  }
  .price-card {
    height: 530px;
  }

  .single-border,
  .golden-border,
  .diamond-border,
  .vibranium-border {
    margin-left: 0px;
  }
  .vibranium-border {
  }
}
@media (min-width: 2900px) {
  .subscription-badge {
    margin-top: 50px;
    font-size: 3rem;
  }
  .price-card {
    height: 1220px;
  }
  .price-card h4 {
    font-size: 4rem !important;
  }
  .price-card a {
    margin-top: 20px;
    font-size: 2.5rem !important;
  }
  .price-card h5 {
    margin: 30px 0;
    font-size: 3rem !important;
  }
  .price-card ul {
    margin-left: 20px;
    font-size: 2.5rem !important;
  }
  .services-legal i {
    font-size: 2.5rem;
  }
}
