/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.sub-card,
.buy-card {
  background: linear-gradient(145deg, #121214, #1a1a1d);
  outline: 1px solid #000000;
  color: white;
  padding: 20px 0px 0px 0px !important;
}
.buy-card2 {
  background: linear-gradient(145deg, #121214, #1a1a1d);
  outline: 1px solid #000000;
  color: white;
}

.sub-card img {
  width: 200px;
  margin: 0 auto;
}
.buy-card img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.cart-text {
  height: 100px !important;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake-gift {
  animation: shake 1s infinite ease-in-out;
  display: inline-block;
}
