.react-datepicker-wrapper {
  width: 60%;
}

::placeholder {
  color: #ffffff !important;
}

.chart-text {
  top: 39%;
  left: 54%;
  transform: translateX(-50%);
  font-weight: bold;
  gap: 0rem;
}

.vote-header {
  background-color: #292e33;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  align-items: center;
  border: 1px solid rgb(24, 23, 23);
}

.vote-img img {
  width: 90px;
}

.vote-title {
  font-size: 1.5rem;
}

.vote-description {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .vote-img img {
    width: 200px !important;
    border-radius: 0 !important;
  }
  .vote-header {
    background-color: transparent;
    box-shadow: none;
    height: 100%;
    align-items: flex-start !important;
  }
  .vote-text {
    padding-left: 10px;
  }

  .vote-title {
    font-size: 2.25rem;
  }

  .vote-description {
    font-size: 1.25rem;
  }
}
