.notifications-container {
  background-color: #13151a !important;
  height: 100%;
}
.notifications-container {
  overflow-y: scroll;
  background: linear-gradient(145deg, #1a1d20, #1d2027);
}
.notifications-container .flex-grow-1 {
  margin-bottom: 60px;
}
.single-notification {
  color: white;
  background-color: #2c3034;
}
.isRead {
  background-color: #3c4044;
  color: #8d97a0 !important;
}

@media (max-width: 768px) {
  .notifications-container {
    height: 100%;
  }
}
@media (min-width: 2900px) {
  .notifications-container {
    height: 57vh;
  }
}
