.explanation-img {
  border-radius: 20%;
  position: relative;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  width: 350px;
  margin-top: 20px;
}
.aboutArrow {
  width: 75px;
}
.about-container {
  height: 100vh;
}
@media (max-width: 768px) {
  .about-container {
    height: 100%;
  }
  .explanation-img {
    width: 250px;
    margin-top: 0px;
  }
}
@media (min-width: 2900px) {
  .server-status-title {
    font-size: 5rem !important;
    margin-bottom: 200px !important;
  }
  .explanation-img {
    width: 800px;
    margin-top: 40px;
  }
  .explanation-text,
  .explanation-text span,
  .bi-arrow-right-circle {
    font-size: 4rem !important;
  }
  .play-anywhere {
    font-size: 5rem !important;
  }
  .play-disclaimer {
    font-size: 4rem !important;
  }
}
